<ul <ul class="question-index-true" >
<% @questions.each do |question| %>
  <li> <strong class="count bestReplay-false">
  <%=question.responses.length%> <b>answers</b>
  </strong>
  <a class="question" href="<%=question_url(question)%>"> <%= question.title%></a>
  <strong class="author" >
    <img src="<%=question.user.avatar.url(:thumb)%>"> <%=question.user.username%></img>
  </strong>

  </li>
<% end %>
</ul>
