
<section class="question-show-title">
  <h1>  <%= @question.title %> </h1>

  <p>
  <%= @question.body.html_safe %>
  </p>
  <div class="question-show-author-tag"> <a href="<%=user_url(@question.user)%>"><img src="<%=@question.user.avatar.url(:thumb)%>" width=35> <%= @question.user.username %> </div>
</section>


<ul class="question-show-responses">
  <% @responses.each do |resp| %>
  <li>
  <p>
    <%=resp.body%>
  </p>
  <div class="question-show-author-tag">
  <a href="<%=user_url(resp.user)%>"> <img src="<%=resp.user.avatar.url(:thumb)%>" width=35> <%= resp.user.username %></a>
  </div>
  </li>
  <% end %>
</ul>


<h2>your Answer</h2>
<form action=" <%=new_sessions_url%> " method="get">
  <label for="body">Response
<textarea name="" cols="60" rows="5" tabindex="101" data-min-length=""></textarea>

  </label>
  <br>
  <button>Log in to Post</button>
</form>
