
<section class="question">
  <h1>  <%= @question.title %> </h1>

  <p>
  <%= @question.body.html_safe %>
  </p>

</section>


<ul class="responses">
  <% @responses.each do |resp| %>
  <li>
  <p>
    <%=resp.body%>
    by <strong><a href="<%=user_url(resp.user_id)%>" > <%=resp.user.username%></a><strong>
  </p>

  </li>
  <% end %>
</ul>


<h2>your Answer</h2>
<form action=" <%=new_sessions_url%> " method="get">
  <label for="body">Response
  <input type="text" name="response[body]">
  </label>
  <br>
  <button>Post Your Answer</button>
</form>

<!--
<textarea name="" cols="92" rows="15" tabindex="101" data-min-length=""></textarea> -->
