<ul>
<% users.each(function(user){ %>
  <section>
    <h2>
      <% if (user.get("firstName")){ %>
        <%=user.get("firstName")%><br>
        <% } %>
        <img src="<%=user.get("image_url")%>" alt="" width=48>
        <a class="user" href="#users/<%=user.id%>"><%=user.get("username")%></a>
        <strong>  member since <%=user.get("memberSince")%> </strong>
    </h2>
  </section>

<%  }) %>
