<ul>
<% users.each(function(user){ %>
  <section>
    <l1>

        <a class="user" href="#users/<%=user.id%>"><img src="<%=user.get("image_url")%>" alt="" width=48><%=user.get("username")%></a>
        <%=user.get("firstName")%><br>
        <strong>  member since <%=user.get("memberSince")%> </strong>
    </l1>
  </section>

<%  }) %>
