
<section class="profile">

  <img class="profile-image" src="<%=asset_path(@user.avatar.url(:medium))%>"/>

  <article class="about">
    <h2> <%=@user.username%> </h2>
    <ul>
       <% if !@user.fname.nil? %>
      <li> <%=@user.fname%> </li>
        <% end %>
    </ul>
    <p>

    </p>
  </article>
  </section>
  <section class="activity"> </section>
  <section class="edit-profile"> </section>
  <section class="history">

      <h1 class="user-show-tab-title questions-tab group in-front">Questions</h1>
      <!-- <h1 class="user-show-tab-title answers-tab group in-back">Answers</h1> -->
      <div class="asked">
        <div>
        <ul class="question-index-false in-front questions-tab">
            <% @questions.each do |question|%>
            <li>
              <a class="question" href="/questions/<%=question.id%>"><%=question.title%></a>
            </li>
            <% end %>
        </ul>
      </div>
    </div>

  </section>
