
<ul class="question-index-<%=questions.comparator !== "timestamp" %>">

<% if (questions.length === 0){ %>
   <li style="color: grey;">
   <%= "Nothing yet..." %>
   </li>
<% } %>
<% questions.each(function(question){ %>


  <li>
    <% if (question.get("responses")){ %>
    <strong class="count bestReplay-<%=!!question.bestReply%>">
    <%=question.get("responses")%> <b>answers</b>
    </strong>

    <% } %>

    <a class="question" href="#questions/<%=question.id%>"><%=question.get("title")%></a>

    <% if (question.get("author")){ %>
       <strong class="author" style="cursor: pointer; cursor: hand;">
         <img src="<%=question.get("thumb")%>"> <%=question.get("author")%> </img>
       </strong>
    <% } %>



  </li>

<%  }) %>
</ul>
<% if(questions.comparator !== "timestamp"){ %>
<footer class="page-turner">
  <li class="more-questions">
  More..
  </li>
  </footer>
  <% } %>
