
<ul class="question-index-<%=questions.comparator !== "timestamp" %>">
<% questions.each(function(question){ %>


  <li>
    <strong class="count">
    <%=question.get("responses")%>
    </strong>
    <a class="question" href="#questions/<%=question.id%>"><%=question.get("title")%></a>

    <% if (question.get("author")){ %>
       <strong class="author">
         ........ asked by, <%=question.get("author")%>
       </strong>
    <% } %>



  </li>

<%  }) %>
</ul>
