
<section class="question-show-title">
  <h1>  <%= question.get("title") %> </h1>

  <p>
  <%= question.get("body") %>
  </p>

  <div class="question-show-author-tag"> <img data-id="<%=question.get("user_id")%>" src="<%=question.get("image_url")%>" style="cursor: pointer; cursor: hand;" width=35> <%= question.get("username") %> </div>
</section>


<ul class="question-show-responses">
  <% responses.each(function(resp){ %>
  <li>
  <p>
    <%=resp.get("body")%>
  </p>
  <div class="question-show-author-tag">
  <img data-id="<%=resp.get("user_id")%>" src="<%=resp.get("image_url")%>" width=35 style="cursor: pointer; cursor: hand;"> <%= resp.get("username") %></img>
  </div>
  </li>

  <% }) %>
</ul>


<h2>your Answer</h2>
<form class="answer-form">
  <input type="hidden" name="response[question_id]" value="<%=question.id%>">
  <label for="body">Response
  <input type="text" name="response[body]">
  </label>
  <br>
</form>
  <button class="answer-button">Post Your Answer</button>
