
<section class="question">
  <h1>  <%= question.get("title") %> </h1>

  <p>
  <% console.log(question.get("body")) %>
  <%= question.get("body") %>
  </p>

  <div> <img src="<%=question.get("image_url")%>" alt="" width=35> <%= question.get("username") %> </div>
</section>


<ul class="responses">
  <% responses.each(function(resp){ %>
  <li>
  <p>
    <%=resp.get("body")%>
  </p>
  <img src="<%=resp.get("image_url")%>" alt="" width=35> <%= resp.get("username") %>
  </li>

  <% }) %>
</ul>


<h2>your Answer</h2>
<form class="answer-form">
  <input type="hidden" name="response[question_id]" value="<%=question.id%>">
  <label for="body">Response
  <input type="text" name="response[body]">
  </label>
  <br>
</form>
  <button class="answer-button">Post Your Answer</button>
