<ul class="nav-bar group">
  <li class="logo"><a href="#"><img src="<%=asset_path("logo2.png")%>"> stack<strong>exchangeNYC</strong></a></li>
  <ul class="nav-bar-paths">
  <li><a href="<%=questions_url%>">Questions</a></li>
  <li><a href="<%=users_url%>">Users</a></li>
  <li><a href="<%=questions_unanswered_url%> ">Unanswered</a></li>
  <li><a href="<%= new_question_url%>">Ask Question</a></li>
  </ul>
</ul>
