<div class="just-black group">
<header class="black-bar group">


    <input id="drop-down" type="checkbox">
      <ul class="stack-exchange">
        <label for="drop-down">StackExchange</label>
        <li>current community</li>
        <li>your communities</li>
        <li>more communities</li>
      </ul>

  <ul class="header-options">
    <li>
      <% if logged_in? %>
        <a  href="<%=user_url(current_user)%>"><img class="thumb" height=30 src="<%=asset_path(current_user.avatar.url(:thumb))%>"></a>
      <% else %>
        <a  href="<%=new_user_url%>">sign up</a>
      <% end %>
    </li>
    <%= render partial: "codeBin/logout" %>

    <li class="no-login visible">
      <a href="<%=new_sessions_url%>">log in</a>
    </li>

    <li><a href="#">tour</a></li>

    <li>
      <ul class="help" >
        <li>help</li>
        <li>tour</li>
        <li>help center</li>
        <li>meta</li>
      </ul>
    </li>

    <li>
      <form class="search-bar" action="<%=sessions_search_url%>" method="get">
        <input  class="search-bar-box" type="text" name="search" placeholder="search">
        <button style = "display:none"></button>
      <div id="live-search-results">
      
      </div>
      </form>
    </li>

  </ul>


</header>
</div>
