<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow-NYC</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% if logged_in? %>
    <%= javascript_include_tag 'application'%>
  <% end %>
  <%= csrf_meta_tags %>
</head>



<body>
  <%= render partial: "layouts/top_black_bar" %>
  <%= render partial: "layouts/nav_bar" %>



  <div class="content">
    <%= yield %>

  </div>
</body>
</html>
