<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow-NYC</title>
  <% if !logged_in? %>
    <script>
      if (window.location.hash){
          window.location.replace(window.location.origin+"/" +window.location.hash.slice(1))}
    </script>
  <% else %>
      <%= javascript_include_tag 'application', :type => "text/javascript"%>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"> </script>


</head>



<body>
  <%= render partial: "layouts/top_black_bar" %>
  <%= render partial: "layouts/nav_bar" %>



  <div class="content">
    <%= yield %>

  </div>

  <%
  "
  todo

  add best answer selection
  add best answer hoist and display

  add voting
  display votes

  add edit pages

  duplicate static pages

  pagination(or sortof)
  search

  seed database (seed dump)

  css

  dropdown menu
  help
  tour
  
  refactor
  "
   %>

</body>
</html>
